$color-main-background: #ddeefc;
$color-cta-background: #2364d2;
$card-band-background: #010101;
$color-dark-background: #1c1d27;
$color-not-found: #88bbda;

$color-grey-light: #c4c4c4;
$color-grey-light-1: #adacac;

$color-grey-dark: #878787;

$color-text: #1a3b5d;
$color-white: #fff;
$color-black: #000;
$color-dark-1: #292929;

$color-border-default: #ced6e0;
$color-border-active: #3d9cff;

$box-shadow-active: 0px 10px 20px -13px rgba(32, 56, 117, 35%);
$box-shadow-active-1: 6px 13px 30px 0px #0653d6;
$box-shadow-default: 0 30px 60px 0 rgba(90, 116, 148, 40%);
$box-shadow-default-1: 3px 10px 20px 0px rgba(35, 100, 210, 30%);
//FONT
$default-font-size: 1.6rem;
